USE [master]
GO
/****** Object:  Database [BDNotas]    Script Date: 20/06/2016 04:12:52 ******/
CREATE DATABASE [BDNotas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDNotas', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BDNotas.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDNotas_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BDNotas_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDNotas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDNotas]
GO
/****** Object:  StoredProcedure [dbo].[InsereProfessor]    Script Date: 20/06/2016 04:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsereProfessor]
(
	@Nome VARCHAR(60),
	@Email VARCHAR(100),
	@Senha VARCHAR(20),
	@Titulo VARCHAR(20)
)
AS BEGIN
	INSERT INTO Pessoa VALUES (@Nome, @Email, @Senha)

	DECLARE @Id int
	SET @Id = SCOPE_IDENTITY()

	INSERT INTO Professor VALUES (@Id, @Titulo)
END
GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 20/06/2016 04:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Aluno](
	[Id] [int] NOT NULL,
	[Matricula] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Disciplina]    Script Date: 20/06/2016 04:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Disciplina](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProfessor] [int] NOT NULL,
	[Nome] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nota]    Script Date: 20/06/2016 04:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nota](
	[IdDisciplina] [int] NOT NULL,
	[IdAluno] [int] NOT NULL,
	[Nota] [numeric](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDisciplina] ASC,
	[IdAluno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 20/06/2016 04:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](60) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Senha] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 20/06/2016 04:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Professor](
	[Id] [int] NOT NULL,
	[Titulo] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[Notas]    Script Date: 20/06/2016 04:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[Notas]
 AS
	-- apelido usando a palavra as
	SELECT n.IdDisciplina, d.Nome as Disciplina, n.IdAluno, p.Nome as Aluno, n.Nota	
	FROM Disciplina d, Pessoa p, Nota n
	-- Join Disciplina Notas e Alunos--
	WHERE d.Id = n.IdDisciplina AND p.Id = n.IdAluno


GO
/****** Object:  View [dbo].[Usuario]    Script Date: 20/06/2016 04:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Usuario]
AS
    SELECT Pessoa.Id,  Pessoa.Nome, Pessoa.Email, Pessoa.Senha, Professor.Titulo,
           IIF(Professor.Id IS NULL, 'Aluno', 'Professor') AS Tipo
    FROM Pessoa
        LEFT JOIN Professor ON Professor.Id = Pessoa.Id
        LEFT JOIN Aluno ON Aluno.Id = Pessoa.Id
 
GO
ALTER TABLE [dbo].[Aluno]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[Disciplina]  WITH CHECK ADD FOREIGN KEY([IdProfessor])
REFERENCES [dbo].[Professor] ([Id])
GO
ALTER TABLE [dbo].[Nota]  WITH CHECK ADD FOREIGN KEY([IdAluno])
REFERENCES [dbo].[Aluno] ([Id])
GO
ALTER TABLE [dbo].[Nota]  WITH CHECK ADD FOREIGN KEY([IdDisciplina])
REFERENCES [dbo].[Disciplina] ([Id])
GO
ALTER TABLE [dbo].[Professor]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Pessoa] ([Id])
GO
USE [master]
GO
