@model IEnumerable<NotaWeb.Entity.Notas>
@{
    ViewBag.Title = "Relatorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Lista N:N
}

<h2>Relatorio de Notas</h2>

<table>
    <thead>
        <tr>
            <th>Nome do Aluno</th>
            <th>Nota</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var nota in Model)
    {
        <tr>
            <td>@nota.Aluno</td>
            <td>@nota.Nota</td>
        </tr>
    }
    
    </tbody>
    
</table>

