
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <form action="/disciplina/create" method="post">
            <label>Nome</label><br/>
            <!-- Name tem que ser igual o da propriedade -->
            <input type="text" name="Nome"  /><br/>

            <label>Professor</label>
            <select name="IdProfessor">
                @foreach (var pr in ViewBag.Professores)
                {
                    <option value="@pr.Id">@pr.Titulo @pr.Nome</option>
                }                
            </select>

            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>
