@using System.Activities.Statements
@model IEnumerable<NotaWeb.Entity.Disciplina>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tela do Professor</h2>

<table>
    <thead>
        <tr>
            <th>Disciplina</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Nome</td>
            <td><a href="/nota/relatorio/@d.Id">Relatório</a></td>
        </tr>
    }
    </tbody>
    
</table>