@model NotaWeb.Entity.Professor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro</title>
</head>
<body>
<form action="/home/registro" method="post">

    Nome<br/>
    <input type="text" name="nome" value=""/> <br/>

    Email<br />
    <input type="email" name="email" value=""/> <br/>

    Senha<br />
    <input type="password" name="senha" value=""/> <br/>

    Título<br/>
    <select name="titulo">
        <option>Graduado</option>
        <option>Mestre</option>
        <option>Doutor</option>
    </select>

    <button type="submit">Salvar</button>

</form>
</body>
</html>
