@* pegar o usuario na sessão *@
@using NotaWeb.Entity;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Notas</h1>  
        <h4>@(((Pessoa)Session["usuario"]).Nome)</h4>
        <a href="/home/logout">Sair</a>

        <hr />

        @RenderBody()

        <hr />

        Desenvolvido por Mim Mesmo - @DateTime.Now.Year
    </div>
</body>
</html>
